@use "_colors.scss" as colors;
@use "_animations.scss";

/* general css */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --delayShake: 1.2s;
}

* {
  box-sizing: border-box;
  margin: 0;
}

// make text non-selectable (include prefixes for the browsers that require it)
html {
  font-family: "Acme";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// scrollbar design, inspired by this: https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/
.scrollbars {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f3f3f3;
  }
}

body {
  overflow-x: hidden;
}

.keyword {
  font-weight: 600;

  &--warning {
    color: #b93939;
  }
  &--green {
    color: colors.$forest-greenV2--keyword;
  }

  &--blue {
    color: #6a7ca9;
  }
}

.scene {
  position: relative;
  height: 100vh;
  width: 100vw;

  &__one,
  &__three--one,
  &__three--two,
  &__three--three,
  &__three--four {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: colors.$forest-bg;
  }

  &__headline {
    overflow: hidden;
    transform: translate(-50%, -50%);
    font-family: "Amatic SC", sans-serif;
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 8vw;
    z-index: 1;
  }

  &__paragraph {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: clamp(14px, 1.5vw, 20px);
    position: absolute;
    left: 25%;
    width: 50%;
    top: -40%;
    padding: 5%;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 1vw 0.5vw rgba(0, 0, 0, 0.35);

    &--five,
    &--six {
      position: absolute;
      transform: translate(-50%, 0%);
      padding: 2%;
      font-size: clamp(14px, 3vw, 2.25rem);
      background-color: colors.$sky-blueV1;
      opacity: 0;
    }

    &--five {
      left: 35%;
      top: 40%;
      width: 25ch;
    }

    &--six {
      left: 65%;
      top: 30%;
    }
  }

  &__two {
    align-items: flex-end;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    opacity: 0;
    background-color: #a1a9c2;
  }

  &__three--one {
    opacity: 0;
  }

  &__three--two,
  &__three--three,
  &__three--four {
    display: none;
  }
}

.city {
  &__building {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5%;
    align-items: center;
    position: absolute;
    bottom: 10vw;

    &--one {
      width: 6%;
    }

    &--two {
      width: 13%;
      left: 6%;
    }

    &--three {
      width: 15%;
      left: 19%;
    }

    &--four {
      width: 13.5%;
      left: 34%;
    }

    &--five {
      width: 13.5%;
      left: 47.5%;
    }

    &--six {
      width: 10%;
      left: 61%;
    }

    &--seven {
      width: 7%;
      left: 71%;
    }

    &--eight {
      width: 10%;
      right: 12%;
    }

    &--nine {
      width: 12%;
      right: 0%;
    }
  }

  &__floor {
    width: 100%;
    opacity: 0;
    background-color: colors.$city-blueV1;
    padding: 3% 1.2% 0;
    position: absolute;
  }

  &__road {
    width: 0%;
    display: block;
    height: 20%;
    margin: 0 auto;
    opacity: 0;
    background-color: #555e73;
  }

  &__window {
    background-color: #4c5f8f;
    opacity: 0;

    &--small {
      height: 11%;
      width: 10%;
      margin: 0 9%;
    }

    &--medium {
      height: 8%;
      width: 50%;
    }

    &--large {
      height: 10%;
      width: 75%;
    }

    &--tall {
      width: 10%;
      margin: 0 9%;
      height: 30%;
    }
  }

  &__water {
    position: absolute;
    background-color: rgba(72, 81, 105, 0.741);
    width: 120%;
    height: 0;
    transition: 1s;
    bottom: -10vw;
    left: -5%;
    overflow: hidden;
  }
}
svg {
  bottom: 0;
  position: absolute;
}

.deer {
  bottom: 10vw;
  left: 0;
  width: 10%;
  fill: colors.$forest-greenV4;
  opacity: 0;

  &__legs {
    &--one {
      transform-origin: center;
      // animation: deerLegsOne 0.5s infinite;
    }

    &--two {
      transform-origin: center;
      // animation: deerLegsTwo 0.5s infinite;
    }
  }
}

.planes {
  &__patch {
    &--one {
      fill: colors.$forest-greenV4;
    }

    &--two {
      fill: colors.$forest-greenV3;
    }

    &--three {
      fill: colors.$forest-greenV2;
    }

    &--four {
      fill: colors.$forest-greenV1;
    }
  }

  &__container {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 3%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
  }

  &__button {
    margin-top: 1rem;
    z-index: 2;
    padding: 1% 2%;
    font-size: 1.4em;
    border-radius: 3px;
    border: solid rgb(44, 44, 44) 1px;
    background-color: colors.$forest-bg;
    text-decoration: none;

    &--disabled {
      display: none;
    }
  }

  &__text {
    padding: 2%;
    text-align: center;
    box-shadow: 0 0 1vw 0.5vw rgba(0, 0, 0, 0.35);
    background-color: colors.$forest-bg;
  }
}

.tree-growth {
  &__mountain {
    fill: colors.$forest-greenV1;
  }

  &__shadow {
    &--mountain {
      fill: colors.$forest-greenV1_shade;
    }
  }

  &__leaves {
    &--sapling {
      fill: colors.$forest-greenV3;
    }

    &--light {
      fill: colors.$forest-greenV3;
    }

    &--dark {
      fill: colors.$forest-greenV5;
    }

    &--mid {
      fill: colors.$forest-greenV4;
    }
  }

  &__stem {
    &--sapling {
      fill: #205f4b;
    }

    &--middle {
      fill: url(#tree-growth__linear-gradient);
    }
    &--brown {
      fill: colors.$dark-woodV1;
    }
  }

  &__grass {
    &--back {
      fill: colors.$forest-greenV2;
    }

    &--front {
      fill: colors.$forest-greenV3;
    }
  }

  &__dividers {
    fill: colors.$forest-bg;
  }
}

@mixin plantSeedTemplate($suffix, $color) {
  @keyframes plantSeed#{$suffix} {
    20%,
    40% {
      transform: translateY(220%);
    }

    60%,
    70% {
      transform: translateY(216%);
    }

    70%,
    80% {
      transform: translateY(210%);
    }

    80%,
    90% {
      transform: translateY(202%);
    }

    90%,
    100% {
      transform: translateY(192%);
    }

    50%,
    100% {
      fill: $color;
    }
  }
}

.seed {
  position: absolute;
  width: 5%;
  fill: colors.$dark-woodV1;
  transition: opacity 0.2s;
  opacity: 0;

  // Plant classes with animations
  &1 {
    left: 20%;
    bottom: 41vw;

    &--plant {
      opacity: 1;
      animation: plantSeed1 2s forwards;
      @include plantSeedTemplate(1, colors.$forest-greenV2);
    }
  }

  &2 {
    left: 40%;
    bottom: 18.8vw;

    &--plant {
      opacity: 1;
      animation: plantSeed2 2s forwards;
      @include plantSeedTemplate(2, colors.$forest-greenV4);
    }
  }

  &3 {
    left: 80%;
    bottom: 30vw;

    &--plant {
      opacity: 1;
      animation: plantSeed3 2s forwards;
      @include plantSeedTemplate(3, colors.$forest-greenV3);
    }
  }

  &--grow {
    animation: seedGrow 2s forwards;
  }
}

.forest {
  &__shake {
    &--active {
      animation: sceneShakingGround 0.4s alternate calc(3 + (6.5 / 0.4));
    }
  }

  &__trees {
    position: absolute;
    bottom: 0;
    fill: colors.$forest-greenV4;
    width: 102%;
    left: 0;
  }

  //placed for animation
  &__tree {
    overflow: hidden;
    &--shake {
      animation: sceneShakingGround 0.4s alternate infinite;
    }
  }

  &__patch {
    &--one {
      fill: colors.$forest-greenV4;
      width: 102%;
      left: -1%;
      bottom: -0.5vw;
    }

    &--two {
      fill: colors.$forest-greenV3;
    }

    &--three {
      fill: colors.$forest-greenV2;
    }

    &--four {
      fill: colors.$forest-greenV1;
    }
  }
}

// for the last part of scene 3
.nature {
  &__mountains {
    fill: colors.$sky-blueV1;
  }

  &__patch-two {
    fill: colors.$forest-greenV2;
  }

  &__patch-one {
    fill: colors.$forest-greenV3;
  }

  &__leaves {
    animation: windBlow 2s ease-in-out infinite;
    fill: colors.$forest-greenV4;

    &-light {
      fill: colors.$forest-greenV3;
    }
  }

  &__tree {
    width: 72%;
    fill: colors.$earth-brownV3;

    &-highlight {
      fill: colors.$earth-brownV1;
    }

    &-mid {
      fill: colors.$earth-brownV4;
    }

    &-shadow {
      fill: colors.$earth-brownV5;
    }
  }
}

.bird {
  width: 8%;
  bottom: 37.5vw;
  left: 37%;
  fill: #c24444;

  &__wing {
    transform-origin: center;
    fill: #943737;
  }

  &__blush {
    fill: #e05b5a;
  }

  &__stomach {
    fill: #e5e0c7;
  }

  &__details {
    fill: #602526;
  }
}

.flowers {
  fill: colors.$forest-greenV3;

  &__bell {
    fill: #4c6aa0;
    transform-origin: center;
    animation: flowerRotate 2s ease-in-out alternate infinite;
  }

  &__bell-shadow {
    fill: #375786;
  }

  &--one,
  &--three {
    animation: flowerWaveOne 2s ease-in-out alternate infinite;
  }

  &--two {
    animation: flowerWaveTwo 2s ease-in-out alternate infinite;
  }
}

.bulldozer {
  width: 60%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: -60%;
  fill: colors.$bz-yellowV2;

  &__pipe {
    fill: colors.$blue-grayV3;
    animation: pipeShake 0.5s linear infinite;
  }

  &__lift {
    animation: rocking 0.5s alternate infinite;
  }

  &__body {
    animation: upDown 0.5s alternate infinite;
  }

  &__wheel {
    transform-origin: center;
    transform-box: fill-box;
    fill: colors.$blue-grayV1;
    stroke-width: 4;
    stroke: colors.$blue-grayV2;
    animation: rotateWheel 0.8s infinite;
  }

  &__yellow-light {
    fill: colors.$bz-yellowV1;
  }

  &__yellow-mid {
    fill: colors.$bz-yellowV3;
  }

  &__yellow-dark {
    fill: colors.$bz-yellowV4;
  }

  &__grey-light {
    fill: colors.$blue-grayV1;
  }

  &__grey-mid {
    fill: colors.$blue-grayV2;
  }

  &__grey-dark {
    fill: colors.$blue-grayV3;
  }

  &__grey-xdark {
    fill: colors.$blue-grayV4;
  }
}

.forest-seed__mountains {
  fill: colors.$sky-blueV1;
}

.forest-seed__soil {
  fill: colors.$earth-brownV1;

  &-mid {
    fill: colors.$earth-brownV2;
  }

  &-dark {
    fill: colors.$earth-brownV5;
  }

  &-shadow {
    fill: colors.$earth-brownV4;
  }
}

.forest-seed__arm {
  fill: colors.$pale-skinV3;

  &-light {
    fill: colors.$pale-skinV1;
  }

  &-highlight {
    fill: colors.$pale-skinV2;
  }

  &-shadow {
    fill: colors.$pale-skinV4;
  }
}

.forest-seed__leaf {
  fill: colors.$forest-greenV3;
  transform-origin: center;
  width: 7%;
}

.forest-seed__leaf--one {
  bottom: 31.5vw;
  right: 35.5%;
  animation: leafMoveOne 1s alternate infinite;
}

.forest-seed__leaf--two {
  bottom: 36.5vw;
  right: 27%;
  animation: leafMoveTwo 1s alternate infinite;
}

.forest-seed__leaf--three {
  bottom: 31.2vw;
  right: 23%;
  animation: leafMoveThree 1s alternate infinite;
}

.forest-seed__base-top {
  width: 20%;
  fill: colors.$forest-greenV4;
  animation: leafMoveBase 1s alternate infinite;
}

.forest-seed__base-bottom {
  fill: url(#forest-seed__linear-gradient);
}

// show a "rotate your phone" on landscape for devices that are less than 1000px
.mobile-landscape__cont {
  display: none;
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .mobile-landscape {
    display: none;

    &__cont {
      width: 100%;
      height: 100%;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .bulldozer {
    &--active {
      animation: bulldozerDrive 7s linear forwards;
    }

    &__group--pipe {
      animation: none;
    }

    &__group--lift {
      animation: none;
    }

    &__group--body {
      animation: none;
    }

    &__group--wheel {
      animation: none;
    }
  }
}
