@use "_colors.scss" as colors;

/* general css */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --delayShake: 1.2s;
} 

* {
    box-sizing: border-box;
    margin: 0;
}

// make text non-selectable (include prefixes for the browsers that require it)
html {
    font-family: "Acme";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide scrollbar for Webkit browsers */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar {
    display: none; /* For Webkit browsers */
}

body.noScroll {
    overflow-y: hidden;
  }
  
.scene {
    position: relative;
    height: 100vh;
    width: 100vw;

    &__one {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
      //  z-index: 3; // pin element of GSAP makes other scenes go above
        background-color: colors.$forest-bg;
    }

    &__headline {
        overflow: hidden;
        transform: translate(-50%, -50%);
        font-family: "Amatic SC", sans-serif;
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: 8vw;
        z-index: 1;
    }

    &__paragraph {
        background-color: rgba(255, 255, 255, 0.7);
        font-size: clamp(14px, 1.5vw, 20px);
        position: absolute;
        left: 25%;
        width: 50%;
        top: -40%;
        padding: 5%;
        // opacity: 0;
        text-align: center;
        z-index: 1;
        box-shadow: 0 0 1vw 0.5vw rgba(0, 0, 0, 0.35);
    }
    
    &__two {
        background-color: #bcc1d0;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;

        &--disabled {
            transition: 0.8s ease-in-out;
            bottom: 100%;
            overflow: hidden;
        }

        &--active {
            animation: skyCarbon 1s forwards 1.5s;
        }
    }

    &__building {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 5%;
        align-items: center;
        position: absolute;
        bottom: 10vw;

        &--one {
            width: 6%;
        }

        &--two {
            width: 13%;
            left: 6%;
        }

        &--three {
            width: 15%;
            left: 19%;
        }

        &--four {
            width: 13.5%;
            left: 34%;
        }

        &--five {
            width: 13.5%;
            left: 47.5%;
        }

        &--six {
            width: 10%;
            left: 61%;
        }

        &--seven {
            width: 7%;
            left: 71%;
        }

        &--eight {
            width: 10%;
            right: 12%;
        }

        &--nine {
            width: 12%;
            right: 0%;
        }
    }

    
  
  }

  svg {
    bottom: 0;
    position: absolute;
  }

  
  .deer {
    bottom: 10vw;
    left: 0;
    width: 10%;
    fill: colors.$forest-greenV4;
    opacity: 0;

    &__legs {
        &--one {
            transform-origin: center;
            // animation: deerLegsOne 0.5s infinite;
        }
    
        &--two {
            transform-origin: center;
           // animation: deerLegsTwo 0.5s infinite;
        }
    }    
}


  .forest {
    &__shake {
        &--active {
            animation: sceneShakingGround 0.4s alternate calc(3 + (6.5/0.4));
        }
    }

    &__trees {
        position: absolute;
        bottom: 0;
        fill: colors.$forest-greenV4;
        width: 102%;
        left: 0;
    }

    //placed for animation
    &__tree {        
        overflow: hidden;
        &--shake {
            animation: sceneShakingGround 0.4s alternate infinite;
        }
    }

    &__patch {
        &--one {
            fill: colors.$forest-greenV4;
            width: 102%;
            left: -1%;
            bottom: -0.5vw;
        }

        &--two {
            fill: colors.$forest-greenV3;
        }

        &--three {
            fill: colors.$forest-greenV2;
        }

        &--four {
            fill: colors.$forest-greenV1;
        }
    }
}

.bulldozer {
    &__svg {
        width: 60%;
        aspect-ratio: 1255 / 672;
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: -60%;
        fill: colors.$bz-yellowV2;

        &--active {
            animation: bulldozerDrive 6.5s linear forwards var(--delayShake);
        }
    }

    &__group--pipe {
        animation: pipeShake 0.5s linear infinite;
        fill: #6e707c;
    }

    &__group--lift {
        animation: rocking 0.5s alternate infinite;
    }

    &__group--body {
        animation: upDown 0.5s alternate infinite;
    }

    &__group--wheel {
        transform-origin: center;
        animation: rotateWheel 0.8s infinite;
        transform-box: fill-box;
        fill: #b1b7c9;
        stroke-width: 4;
        stroke: #8b8f99;
    }

    &__yellow-light {
        fill: colors.$bz-yellowV1;
    }

    &__yellow-mid {
        fill: colors.$bz-yellowV3;
    }

    &__yellow-dark {
        fill: colors.$bz-yellowV4;
    }

    &__grey-light {
        fill: colors.$blue-grayV1;
    }

    &__grey-mid {
        fill: colors.$blue-grayV2;
    }

    &__grey-dark {
        fill: colors.$blue-grayV3;
    }

    &__grey-xdark {
        fill: colors.$blue-grayV4;
    }
}

.bulldozer__group--wheel {
    transform-origin: center;
    animation: rotateWheel 0.8s infinite;
    transform-box: fill-box;
    fill: #b1b7c9;
    stroke-width: 4;
    stroke: #8b8f99;
}

@keyframes bulldozerDrive {
    100% {
        left: 200%;
    }
}

@keyframes rocking {
    from {
        transform: rotate(0) translateY(-30px);
    }

    to {
        transform: rotate(2deg) translateY(-40px);
    }
}

@keyframes upDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes pipeShake {
    0%,
    50%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }
}

@keyframes rotateWheel {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes deerLegsOne {
    0% {
        transform: skew(-10deg);
    }

    50% {
        transform: skew(10deg);
    }

    100% {
        transform: skew(-10deg);
    }
}

@keyframes deerLegsTwo {
    0% {
        transform: skew(10deg);
    }

    50% {
        transform: skew(-10deg);
    }

    100% {
        transform: skew(10deg);
    }
}

@keyframes fallTree {
    4% {
        transform: translate(-2%, 30%) rotate(30deg);
    }

    8% {
        transform: translate(-4%, 60%) rotate(60deg);
    }

    12% {
        transform: translate(-6%, 90%) rotate(90deg);
    }

    16%,
    100% {
        transform: translate(-8%, 120%) rotate(120deg);
    }
}

@keyframes sceneShakingGround {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(-0.5%, -0.5%) rotate(-0.2deg);
    }
    50% {
        transform: translate(0.5%) rotate(0.2deg);
    }
    75% {
        transform: translate(-0.5%, 0.5%) rotate(-0.2deg);
    }
    100% {
        transform: translate(0.5%, -0.5%) rotate(0.2deg);
    }
}
